<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Deportivo</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/deportes.png" type="image/png">
</head>
<body>
    <header>
        <div>
            <h1>Mundo Deportivo</h1>
            <p>¡Toda la información del mundo del deporte la encontras Acá!</p> 
        </div>
    </header>
    <!<< NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="leonas.html">NOTICIAS OLIMPICAS</a>
        <a href="deportes.html">DEPORTES</a>
        <a href="#">CONTACTANOS</a>
    </nav>
    <form action="">
        <fieldset>
            <legend>Formulario de Registro</legend>
        <label for="nombre">Nombre:</label>
        <input type="text" name="name" id="Nombre" placeholder="Pepito" maxlength="16">
        <label for="apellido">Apellido:</label>
        <input type="text" name="lname" id="Apellido" placeholder="Suarez" maxlength="15"> 
        <label for="fecha">Fecha de Nacimiento: </label>
        <input type="date" name="bdate" id="fecha">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="example@example.com" required>
        <label for="pass">Contraseña: </label>
        <input type="password" name="pass" id="pass" required>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
        <!--<label for="rojo">Rojo</label>
        <input type="checkbox" id="rojo" name="red">
        <label for="verde">Verde</label>
        <input type="checkbox" id="verde" name="green">
        <label for="amarillo">Amarillo</label>
        <input type="checkbox" id="amarillo" name="yellow">-->
        <!--<input type="range"-->
        </fieldset>
    </form>
    <!--FOOTER-->
    <footer>
        <p>&copy;Leo Sanchez, Potrero Digital 2024</p>
    </footer>
</body>
</html>